﻿@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Login";
    <link href="~/css/site.css" rel="stylesheet" />
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body>
        <h3 class="text-center">@ViewBag.Error</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" });
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <img src="~/img/logo.jpg" id="imagem" class="col-md-6" />

                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="" method="post">

                                <div class="form-group">
                                    <label for="username" class="text-dark">E-mail:</label><br>
                                    <input type="text" name="email" id="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-dark">Senha:</label><br>
                                    <input type="password" name="senha" id="senha" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="Entrar" class="btn btn-primary btn-md" value="Entrar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}


