﻿@model Himaflex.Models.Pedido

@{
    ViewData["Title"] = "Adicionar novo pedido";
}

<h1>Adicionar novo pedido</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select id="elCategorias" asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId">
                    <option disabled selected> Selecione a categoria </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoId" class="control-label disabled"></label>
                <select id="elProdutos" asp-for="ProdutoId" class="form-control" asp-items="ViewBag.ProdutoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="metragem" class="control-label"></label>
                <input asp-for="metragem" class="form-control" />
                <span asp-validation-for="metragem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gravacao" class="control-label"></label>
                <input asp-for="gravacao" class="form-control" />
                <span asp-validation-for="gravacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nomeproduto" class="control-label"></label>
                <input asp-for="Nomeproduto" class="form-control" />
                <span asp-validation-for="Nomeproduto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script>

    const categoriaEl = document.querySelector('#elCategorias');
    const elProdutos = document.querySelector('#elProdutos');
    const elDataProduto = document.querySelector('#data-produto');


    function renderOptions(produto) {
        console.log(produto);
        let elOption = document.createElement('option');
        elOption.value = produto.produtoId;
        elOption.appendChild(document.createTextNode(produto.nomeproduto));
        elProdutos.appendChild(elOption);
    }

    categoriaEl.addEventListener('change', () => {
        elProdutos.innerHTML = '';
        let valor = categoriaEl.value;
        console.log(valor);
        axios.get('LoadProdutos/' + valor)
            .then(response => {
                let produtos = response.data;
                console.log(produtos);
                produtos.forEach(produto => renderOptions(produto))
            })
            .catch(error => {
                console.log(error)
            })
    });


    function RenderDataProdutos(details) {
        console.log(details)


        let elDescricao = document.createElement('p');
        elDescricao.appendChild(document.createTextNode(details[0].nomeproduto));
        elDataProduto.appendChild(elDescricao);


    }

    elProdutos.addEventListener('change', () => {
        elDataProduto.innerHTML = '';
        let valor = elProdutos.value;
        console.log(valor);
        axios.get('LoadDataProduto/' + valor)
            .then(response => {
                let details = response.data;
                console.log(details)
                console.log(details[0].nomeproduto)
                RenderDataProdutos(details)

            })
            .catch(error => {
                console.log(error)
            })
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
