﻿@model Himaflex.Models.Pedido

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Details</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.metragem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.metragem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gravacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gravacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoria.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.produto.ProdutoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomeproduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomeproduto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PedidoId">Editar</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>
