﻿@model Himaflex.Models.Pedido

@{
    ViewData["Title"] = "Editar pedido";
}

<h1>Editar</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PedidoId" />
            <div class="form-group">
                <label asp-for="metragem" class="control-label"></label>
                <input asp-for="metragem" class="form-control" />
                <span asp-validation-for="metragem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gravacao" class="control-label"></label>
                <input asp-for="gravacao" class="form-control" />
                <span asp-validation-for="gravacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nomeproduto" class="control-label"></label>
                <input asp-for="Nomeproduto" class="form-control" />
                <span asp-validation-for="Nomeproduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoId" class="control-label"></label>
                <select asp-for="ProdutoId" class="form-control" asp-items="ViewBag.ProdutoId"></select>
                <span asp-validation-for="ProdutoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
