﻿@model IEnumerable<Himaflex.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
}

<h1 class="text-center">Pedidos</h1>

<p>
    <a asp-action="Create"><img src="img/add.png" />Adicionar pedido</a>            
    <input type="button" value="Imprimir" onClick="window.print()">

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metragem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gravacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nomeproduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produto.Nomeproduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.metragem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gravacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nomeproduto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PedidoId"><img src="img/edit.png" alt="Editar" /></a> |
                <a asp-action="Delete" asp-route-id="@item.PedidoId"><img src="img/delete.png" alt="Apagar" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
