﻿@model Himaflex.Models.Categoria

@{
    ViewData["Title"] = "Detalhes da categoria";
}

<h1>Detalhes da categoria</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>

    <p class="font-weight-bold"> Produtos da categoria</p>

    <dl class="row">
        @foreach (var item in Model.produtos)
        {
            <dd class="col-sm-12">
                @Html.DisplayFor(modelItem => item.Descricao)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoriaId">Editar</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>
