﻿@model Himaflex.Models.Categoria

@{
    ViewData["Title"] = "Apagar categoria";
}

<h1>Apagar categoria</h1>

<h3>Tem certeza que deseja apagar isso?</h3>
<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoriaId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à lista de categorias</a>
    </form>
</div>
