﻿@{
    ViewData["Title"] = "Página inicial HIMAFLEX";
}

<div class="text-center">

    @{





        Context.Request.Cookies.TryGetValue("Email", out string value);

        <h1 class="display-4">Bem vindo @value!</h1>
        <br />
        <div class="container py-4">

            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/img/categoria.png" alt="Categorias">
                        <div class="card-body">
                            <h5 class="card-title">Categorias</h5>
                            <p class="card-text">Você pode adicionar, editar, apagar e ver detalhes das categorias.</p>
                            <a asp-controller="Categorias" asp-action="Index" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/img/produto.png" alt="Produtos">
                        <div class="card-body">
                            <h5 class="card-title">Produtos</h5>
                            <p class="card-text">Você pode adicionar, editar, apagar e ver detalhes dos produtos.</p>
                            <a asp-controller="Produtos" asp-action="Index" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/img/pedido.png" alt="Pedidos">
                        <div class="card-body">
                            <h5 class="card-title">Pedidos</h5>
                            <p class="card-text">Você pode adicionar, editar, apagar e imprimir a página dos pedidos.</p>
                            <a asp-controller="Pedidos" asp-action="Index" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
