﻿@model IEnumerable<Himaflex.Models.Administrador>

@{
    ViewData["Title"] = "Lista de administradores";
}

<h1 class="text-center">Administradores</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdministradorId"><img src="img/edit.png" alt="Editar" /> </a> |
                <a asp-action="Details" asp-route-id="@item.AdministradorId"><img src="img/details.png" alt="Detalhes" /></a> |
                <a asp-action="Delete" asp-route-id="@item.AdministradorId"><img src="img/delete.png" alt="Apagar" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
