﻿@model Himaflex.Models.Produto

@{
    ViewData["Title"] = "Detalhes do produto";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomeproduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomeproduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bitola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bitola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pressao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pressao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vacuo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vacuo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parede)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parede)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Externo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Externo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoria.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.materiaPrima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.materiaPrima.MateriaPrimaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProdutoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
