﻿@model Himaflex.Models.Produto

@{
    ViewData["Title"] = "Editar produto";
}

<h1>Edit</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProdutoId" />
            <div class="form-group">
                <label asp-for="Nomeproduto" class="control-label"></label>
                <input asp-for="Nomeproduto" class="form-control" />
                <span asp-validation-for="Nomeproduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bitola" class="control-label"></label>
                <input asp-for="Bitola" class="form-control" />
                <span asp-validation-for="Bitola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pressao" class="control-label"></label>
                <input asp-for="Pressao" class="form-control" />
                <span asp-validation-for="Pressao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vacuo" class="control-label"></label>
                <input asp-for="Vacuo" class="form-control" />
                <span asp-validation-for="Vacuo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raio" class="control-label"></label>
                <input asp-for="Raio" class="form-control" />
                <span asp-validation-for="Raio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parede" class="control-label"></label>
                <input asp-for="Parede" class="form-control" />
                <span asp-validation-for="Parede" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interno" class="control-label"></label>
                <input asp-for="Interno" class="form-control" />
                <span asp-validation-for="Interno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Externo" class="control-label"></label>
                <input asp-for="Externo" class="form-control" />
                <span asp-validation-for="Externo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <input asp-for="Cor" class="form-control" />
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MateriaPrimaId" class="control-label"></label>
                <select asp-for="MateriaPrimaId" class="form-control" asp-items="ViewBag.MateriaPrimaId"></select>
                <span asp-validation-for="MateriaPrimaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
