﻿@model IEnumerable<Himaflex.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1 class="text-center">Produtos</h1>

@using (Html.BeginForm("Search", "Produtos", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                Pesquisar: <input type="text" name="searchString" id="searchString" class="form-control" />
            </div>
            <div class="col-md-4">
                <input type="submit" value="Pesquisar" class="btn btn-primary" />
            </div>

        </div>
    </div>
}
<p>
    <a asp-action="Create"><img src="img/add.png" />Adicionar Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nomeproduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bitola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pressao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacuo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Externo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <!--   <th>
                   @Html.DisplayNameFor(model => model.materiaPrima)
               </th> -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nomeproduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bitola)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pressao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vacuo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parede)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Interno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Externo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria.Descricao)
                </td>
                <!--  <td>
                      @Html.DisplayFor(modelItem => item.materiaPrima.MateriaPrimaId)
                  </td> -->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProdutoId"><img src="img/edit.png" alt="Editar" /></a> |
                    <a asp-action="Details" asp-route-id="@item.ProdutoId"><img src="img/details.png" alt="Detalhes" /></a> |
                    <a asp-action="Delete" asp-route-id="@item.ProdutoId"><img src="img/delete.png" alt="Apagar" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
