﻿@model Himaflex.Models.MateriaPrima

@{
    ViewData["Title"] = "Detalhes da matéria prima";
}

<h1>Detalhes da matéria prima</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MateriaPrimaId">Editar</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>
