﻿@model IEnumerable<Himaflex.Models.MateriaPrima>

@{
    ViewData["Title"] = "Matéria Prima";
}

<h1 class="text-center">Matéria prima</h1>

@using (Html.BeginForm("Search", "Matéria Prima", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                Pesquisar: <input type="text" name="searchString" id="searchString" class="form-control" />
            </div>
            <div class="col-md-4">
                <input type="submit" value="Pesquisar" class="btn btn-primary" />
            </div>

        </div>
    </div>
}
<p>
    <a asp-action="Create"><img src="img/add.png"/>Adicionar matéria prima</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MateriaPrimaId"><img src="img/edit.png" alt="Editar" /></a> |
                    <a asp-action="Details" asp-route-id="@item.MateriaPrimaId"><img src="img/details.png" alt="Detalhes" /></a> |
                    <a asp-action="Delete" asp-route-id="@item.MateriaPrimaId"><img src="img/delete.png" alt="Apagar" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
